/** =================================
Base font settings
================================= **/

@import url('https://fonts.googleapis.com/css2?family=Alegreya&family=Alegreya+Sans&display=swap');
/**
$body-font: 'Titillium Web', Helvetica, Arial, sans-serif;
$headline-font: 'Zilla Slab', Garamond, serif;
**/

$body-font: 'Alegreya', Garamond, serif;
$headline-font: 'Alegreya Sans', Helvetica, Arial, sans-serif;
$pre-font: Courier, monospace;
