@import url('https://fonts.googleapis.com/css2?family=Alegreya&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans&display=swap');

body {
  font-family: 'Alegreya Sans', 'Times New Roman', serif;
}

h1, h2, h3, h4, h5, h6, .intro-header .page-heading .page-subheading, .intro-header .post-heading .post-subheading {
font-family: 'Alegreya', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

_type.scss:16

.navbar-custom .avatar-container .avatar-img-border {
	box-shadow: 0 0 0 rgba(0, 0, 0, .8);
	border-radius: 100%;
	-webkit-box-shadow: 0 0 0 rgba(0, 0, 0, .8); */
	-moz-box-shadow: 0 0 0 rgba(0, 0, 0, .8);
}

.navbar-custom.top-nav-regular .avatar-container .avatar-img-border {
	border-radius: 100%;
	box-shadow: 0 0 0 rgba(0, 0, 0, .8); */
	-webkit-box-shadow: 0 0 0 rgba(0, 0, 0, .8); */
	-moz-box-shadow: 0 0 0 rgba(0, 0, 0, .8); */
}

.navbar-custom .avatar-container .avatar-img {
	border-radius: 100%;
}


